/* Global Reset */
* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

/* Body Styles */
body {
    background-color: #001651;
    /* Set background color to cover the entire screen */
    width: 100%;
    height: 100%;
    padding-left: 150px;
    padding-right: 150px;
}

/* Media Queries for Responsive Design */
@media (max-width: 768px) {
    body {
        height: 250vh;
        padding-left: 50px;
        padding-right: 50px;
    }
}

@media (max-width: 992px) {
    body {
        width: 200%;
        height: 200vh;
    }
}

.LOGO {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

@media(max-width:992px) {
    .LOGO {
        justify-content: flex-start;
    }

    .logo-t {
        width: 110px;
        height: 37px;
    }
}

/* .text-01 and .Lass-text Styles */
.Heading-text {
    display: flex;
    align-items: center;
    /* Align items vertically */
    color: white;
}

.Lass-text {
    margin-right: 5px;
    font-size: 75px;
    font-weight: lighter;
    font-style: italic;
}

/* .description Styles */
.description {
    font-family: Helvetica;
    font-weight: lighter;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    font-size: 30px;
    font-style: italic;
    padding-top: 27px;
    padding-right: 5px;
}

@media(max-width:768px) {

    /* Responsive styles for smaller screens */
    .Heading-text {
        padding-top: 10px;
    }

    .Lass-text {
        font-size: 25px;
    }

    .description {
        font-size: 16px;
        padding-top: 5px;
    }
}

.container-x {
    display: flex;
    flex-wrap: wrap;
}

.form {
    flex: 1;
    background-color: #e1e1e1;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

.profile {
    padding-top: 10px;
    padding-left: 150px;
}

.form-inputbox {
    padding-top: 15px;
}

/* Icon Styles */
.icon-1 {
    padding-left: 20px;
    padding-right: 10px;
}

.icon-2 {
    padding-left: 15px;
    padding-right: 4px;
}

@media(max-width:768px) {
    .icon-1 {
        padding-left: 50px;
        padding-right: 10px;
    }

    .icon-2 {
        padding-left: 45px;
        padding-right: 4px;
    }
}

/* Form Input Styles */
.form input {
    border: 1px solid rgb(100, 97, 97);
    font-size: 20px;
    color: rgb(100, 99, 99);
    padding: 4px;
    width: 300px;
}

/* Placeholder Styles */
.form ::placeholder {
    color: rgb(100, 99, 99);
}




.path-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.path-01,
.path-02,
.path-03,
.path-04 {
    font-family: "Helvetica Neue", Helvetica, sans-serif;
    background: linear-gradient(to bottom, #0d646b, #00325b);
    height: 87px;
    font-size: 13px;
    text-align: left;
    padding: 10px;
}

.path-icons {
    flex: 0.2;
    display: flex;
    flex-direction: column;
}

.icons-i {
    width: 100%;
    height: 100%;
}

@media (max-width:768px) {

    .path-text:nth-child(2),
    .path-icons:nth-child(3) {
        flex-basis: 70%;
    }
    .icons-i {
        display: none;
    }
}