/* Global Reset */
* {
    box-sizing: border-box;
    border: 0;
    margin: 0;
}

body {
    background-color: #001651;
    margin: 0;
    padding: 0;
    
}

.container {
    margin-left: 150px;
    margin-right: 150px;
    
  }

  @media(max-width:600px){
    .container {
        margin-left: 50px;
        margin-right: 50px;
        
      }
  }

  @media(max-width:768px){
    .container {
        margin-left: 30px;
        margin-right: 20px;
        
      }
  }

  @media(max-width:992px){
    .container {
        margin-left: 30px;
        margin-right: 20px;
      }
  }

  @media(max-width:1200px){
    .container {
        margin-left: 150px;
        margin-right: 0px;
        
      }
  }

.LOGO {
    display: flex;
    justify-content: flex-end;
    padding-top: 50px;
    padding-right: 60px;
    left: 0;
    right: 0;
    bottom: 0;
}

@media(max-width:992px) {
    .LOGO {
        justify-content: flex-start;
    }

    .logo-t {
        width: 110px;
        height: 37px;
    }
}

/* .text-01 and .Lass-text Styles */
.Heading-text {
    display: flex;
    align-items: center;
    /* Align items vertically */
    color: white;
}

.Lass-text {
    margin-right: 5px;
    font-size: 75px;
    font-weight: lighter;
    font-style: italic;
}

/* .description Styles */
.description {
    font-family: Helvetica;
    font-weight: lighter;
    white-space: nowrap;
    /* Prevent text from wrapping */
    overflow: hidden;
    /* Hide overflow text */
    text-overflow: ellipsis;
    font-size: 30px;
    font-style: italic;
    padding-top: 27px;
    padding-right: 5px;
}

@media(max-width:768px) {

    /* Responsive styles for smaller screens */
    .Heading-text {
        padding-top: 10px;
    }

    .Lass-text {
        font-size: 25px;
    }

    .description {
        font-size: 16px;
        padding-top: 5px;
    }
}

.container-x {
    display: flex;
    flex-wrap: wrap;
}

@media(max-width:768px) {
    .container-x {
        flex-direction: column;
    }
}


.form {
    flex: 0.6;
    background-color: #e1e1e1;
    border-radius: 10px 0px 0px 10px;
    padding: 10px;
}

.profile {
    padding-top: 10px;
    padding-left: 150px;
}

.form-inputbox {
    padding-top: 15px;
}

/* Icon Styles */
.icon-1 {
    padding-left: 20px;
    padding-right: 10px;
}

.icon-2 {
    padding-left: 15px;
    padding-right: 4px;
}

/* Form Input Styles */
.form input {
    border: 1px solid rgb(100, 97, 97);
    font-size: 20px;
    color: rgb(100, 99, 99);
    padding: 4px;
    width: 300px;
}

/* Placeholder Styles */
.form ::placeholder {
    color: rgb(100, 99, 99);
}


@media(max-width:768px) {
    .profile {
        padding-top: 5px;
        padding-left: 120px;
    }

    .form {
        width: 350px;
        border-radius: 10px 10px 0px 0px;
    }

    .form input {
        font-size: 18px;
        padding: 4px;
        width: 290px;
    }

    .icon-1 {
        padding-left: 10px;
        padding-right: 0px;
    }

    .icon-2 {
        padding-left: 0px;
        padding-right: 0px;
    }
}


.path-text {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: white;
}

.path-01,
.path-02,
.path-03,
.path-04 {

    display: flex;
    flex: 1;
    
}

.path-p {
    background: linear-gradient(to bottom, #0d646b, #00325b);
    font-family: Helvetica, sans-serif;
    /* background: linear-gradient(to bottom, #0d646b, #00325b); */
    height: 87px;
    width: 400px;
    font-size: 13px;
    text-align: left;
    padding: 10px;
    overflow: hidden;
}

.icons-i {
    width: 100%;
    height: 100%;
}

@media(max-width:768px) {
    .path-p {
        height: 80px;
        width: 350px;
        font-size: 12.5px;
        padding-left: 20px;
    }

    .icons-i {
        display: none;
    }
}